@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "OnePiece";
    src: url("/src/fonts/op.ttf");
}

* {
    font-family: 'PT Sans', sans-serif;
}

html {
    background-color: #e3ecec;
}


header {
    background: linear-gradient(12deg, rgba(56, 99, 255, 1) 0%, rgba(70, 242, 239, 1) 63%, rgba(255, 255, 255, 1) 100%);

    h1 {
        color: white;
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
            1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
        font-family: 'OnePiece';
        text-align: center;
        font-size: 5rem;
        margin: 10px 0px;
        text-transform: uppercase;
        margin: 0px;
    }
}

body {
    margin: 0px;
    position: relative;
    min-height: 100vh;
}

/* Creació de menú */
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        font-family: 'PT Sans', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;

        svg {
            margin-right: 5px;
        }
    }

    a:hover {
        background-color: red;
    }
}

/* Estilos para hacer el menú responsivo */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-direction: column;
        /* Cambia la dirección de flexión a vertical */
        align-items: center;
    }


    .grid-container {
        grid-template-columns: 100% !important;
        margin: 10px 0px;

    }
}

main {
    margin: 0px 10px 0px 10px;
}

main>section>article {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card {
    display: flex;
}

.card-image {
    padding: 10px;
}

.card-content {
    padding: 10px;

}

.card img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 33% 33% 33%;
    background-color: #fff;
    color: #444;
}

.grid {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #DECBB6;
    border-radius: 5px;
    padding: 10px;
}

.grid img {
    width: 100%;
}

.grid p,
.grid strong {
    font-family: monospace;
}

.op {
    font-family: 'OnePiece';
    text-transform: uppercase;
    font-weight: bold;
}

.grid-container figure.grid p.op {
    font-family: 'OnePiece';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.grid-container figure.grid p.pt {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

footer {
    background-color: #333;
    color:white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem; 
    text-align: center;
    font-weight: bold;

    p {
        margin:15px;
    }
}
