@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "OnePiece";
    src: url("/src/fonts/op.ttf");
}

* {
    font-family: 'PT Sans', sans-serif;
}

.op {
    font-family: 'OnePiece';
    text-transform: uppercase;
    font-weight: bold;
}

body {
    h1 {
        font-family: 'OnePiece';
        text-align: center;
        font-size: 5rem;
        margin: 10px 0px;
        text-transform: uppercase;
    }
}

/* Creació de menú */
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        font-family: 'PT Sans', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;

        svg {
            margin-right: 5px;
        }
    }

    a:hover {
        background-color: red;
    }
}

/* Estilos para hacer el menú responsivo */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-direction: column;
        /* Cambia la dirección de flexión a vertical */
        align-items: center;
    }
}

main>section>article {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card {
    display: flex;
}

.card-image {
    padding: 10px;
}

.card-content {
    padding: 10px;

}

.card img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}